<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SMTPserver" value=""/>
    <add key="SMTPport" value=""/>
    <add key="SMTPLogin" value=""/>
    <add key="SMTPpassword" value=""/>
    <add key="EmailAddress" value=""/>
  </appSettings>
</configuration>